
.hero-section {
  margin: 0 auto;
    padding: 0px 20px 80px;
    min-width: 375px; /* було max-width*/
}
.hero-inner {
  border-radius: 30px;

  padding: 40px 20px 0px;
  background-color: var(--background-color-dark);
}

.hero-title {
  max-width: 295px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-decoration: none;
  margin-bottom: 20px;
}

.text-s {
  font-style: italic;
}

.hero-text {
  display: inline-block;
  max-width: 295px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 40px;
}

.users-block {
  display: flex;
  flex-wrap: wrap;
  max-width: 253px;
  align-items: flex-start;
  margin-bottom: 31px;
  gap: 40px;
}

.users-list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.users-item {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.users-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 67px;
}
.students {
  color: #fff;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.04em;
}

.users-reviews {
  display: flex;
  align-items: center;
  gap: 12px;
  
}
.icons-item {
  position: relative;
  fill: #fff;
}
.users-reviews-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #bea69e;
  width: 44px;
  height: 44px;
}

.revievs-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.revievs-text {
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
}
.revievs-value {
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
}
.icon-star {
  stroke: var(--background-color-dark);
  fill: var(--brown);
}
.hero-img {
  max-width: 100%;
  width: 259px;
  height: 100%;
  margin: 0 auto;
}


     /* Tab- media */
@media screen and (min-width: 768px) {
  .hero-section {
    padding: 0 32px 100px;
    max-width: 768px;
  }

  .hero-inner {
    /*width: 704px;*/
    padding: 64px 32px 0 32px;
  }
  .hero-title {
    max-width: 517px;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
  }
  .text-s {
    font-style: italic;
    font-size: 64px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: 0.04em;
    
  }
  .hero-text {
    max-width: 418px;
  
  }

  .users-block {
    display: flex;
    flex-wrap: nowrap;
    max-width: 390px;
    align-items: flex-end;
    margin-bottom: 41px;
    gap: 40px;
    
  }
  .students {
   
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.04em;
  }


  .users-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  
  .revievs-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
  }
  .revievs-value {
    line-height: 1.25;
  }

  .users-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 8px;
  }

  .hero-img {
    width: 393px;
    margin: 0 auto;
  }
 
}
@media screen and (min-width:1280px) {
  .hero-section {
    margin: 0 auto;
      padding: 80px 100px 150px 100px;
   max-width: 100%;

  }
  .hero-inner {
    display: flex;
   padding: 80px 50px 0 50px; 
   width: 100%;
  }
  .hero-title {
    max-width: 563px;
    font-size: 64px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: 0.04em;
  }
    
  .hero-text { 
    max-width: 388px;
    margin-bottom: 136px;
  }

  .users-reviews-item {
    cursor: pointer;
  }
  
  
  .hero-img {
    display:flex;
    justify-content: center;
    align-items:flex-end;
    width: 397px;
    height: initial;
    
  }
}